<div id="containerProfile" class="containerProfile">
    <div id="containerProfileAll" class="containerProfileAll">
        <div class="blockProfileMenu">
            {{#each items}}
                {{{this}}}
            {{/each}}
        </div>
        <div id="blockProfileMain" class="blockProfileMain">
            <a class="exitArrow" href="/income"><img id="exit" src="{{strokeSvg}}"></a>
            <img src="{{logo}}" class="LogoProfile">
            <div class="profileSet" id="img">
                <img id="profileSvg" src="{{profileSvg}}" class="avatarProfile">
                <img src="{{editSvg}}" class="avatarReduct">
            </div>
            <form class="displayForm" id="form">
                {{{inputFile}}}
                {{{inputProfileName}}}
                <p id="errorFirstName" class="invalidMsgProfile">Не верное имя пользователя или пароль</p>
                {{{inputProfileLastName}}}
                <p id="errorLastName" class="invalidMsgProfile">Не верное имя пользователя или пароль</p>
                {{{nextBtn}}}
            </form>
            {{{prevBtn}}}
        </div>
    </div>
</div>