<div class="containerProfile">
    <div class="blockProfileMenu showboxLeft">
        {{#each items}}
            {{{this}}}
        {{/each}}
    </div>
    <div class="blockProfileMain showboxRight">
        <img id="exit" src="{{strokeSvg}}" class="exitArrow">
        <img src="{{logo}}" class="LogoProfile">
        <form id="form" class="displayForm">
            {{{inputPasswordLast}}}
            <p id="errorLastPassword" class="invalidMsgProfile">Не верное имя пользователя или пароль</p>
            {{{inputPassword}}}
            <p id="errorPassword" class="invalidMsgProfile">Не верное имя пользователя или пароль</p>
            {{{inputPasswordRepeat}}}
            <p id="errorPasswordRepeat" class="invalidMsgProfile">Не верное имя пользователя или пароль</p>
            {{{nextBtn}}}
        </form>
        {{{prevBtn}}}
    </div>
</div>