<div id="{{id}}" class="messageText">
{{#if empty}}
    {{{emptyTextText}}}
{{else}}
    <img class="avatarMassage" src="{{{avatar}}}" alt="avatar">
    {{{titleText}}}
    {{{subText}}}
    {{{emptyText}}}
    {{{timeText}}}
{{/if}}
</div>
{{#if flag}}
    <hr class="hrClass">
{{/if}}