<header>
    <div class="parentHead">
        <img id="menuOpen" class="logoLogo2" src="{{menuSvg}}" alt="Menu">
        <a href="{{logoLink}}" class="linked">
        <img class="logoLogo" src="{{logoSvg}}" alt="Logo">
        {{{ logoText }}}
        </a>
        <div class="spaseBox"></div>
        <img id="color" class="settingsColor" src="{{setter}}" alt="avatar">
        <div class="profile">
            <img class="avatar" src="{{profileAvatar}}" alt="avatar">
            {{{ login }}}
            <img class="arrow" src="{{arrow}}" alt="arrow">
        </div>
    </div>
</header>