<div id="messages" class="messageOutPut">
    <div class="menuOutput">
        <img id="sendAvatar" class="avatarOutput" src="{{avatar}}">
        <div class="OutputText">
            <div class="flexLine">
                {{{who}}}
                {{{login}}}
            </div>
            <hr class="hrClass">
            <div class="flexLine">
                {{{theme}}}
                {{{themeInput}}}
            </div>
        </div>
    </div>
    <hr class="hrClass">
    <div class="filesAddLine">
        <img id="addFile" class="addFile" src="{{addFile}}">
        <div id="files" class="filesAddLineItems">
        </div>
<!--        <div id="file" class="filesAdd">-->
<!--            <img class="newFile" src="{{addFile}}">-->
<!--            <img class="closeFile" src="{{closeSvg}}">-->
<!--            <p class="textFile">123.jpgfsafasfash</p>-->
<!--            <input id="input{{inputId}}" class="inputFill" type="file">-->
<!--        </div>-->
    </div>
    <hr class="hrClass">
    <textarea id="textareaMain" class="textInput" placeholder="Содержимое письма">
{{{text}}}</textarea>
    <hr class="hrClass">
    {{{send}}}
</div>