<div id="messages" class="messageOutPut">
    <div class="menuOutput">
        <img id="sendAvatar" class="avatarOutput" src="{{avatar}}">
        <div class="OutputText">
            <div class="flexLine">
                {{{who}}}
                {{{login}}}
            </div>
            <hr class="hrClass">
            <div class="flexLine">
                {{{theme}}}
                {{{themeInput}}}
            </div>
        </div>
    </div>
    <hr class="hrClass">
<!--    <div class="filesAddLine">-->
<!--        <img id="addFile" class="addFile" src="{{addFile}}">-->
<!--        <div id="files" class="filesAddLineItems">-->
<!--        </div>-->
<!--&lt;!&ndash;        <div id="file" class="filesAdd">&ndash;&gt;-->
<!--&lt;!&ndash;            <img class="newFile" src="{{addFile}}">&ndash;&gt;-->
<!--&lt;!&ndash;            <img class="closeFile" src="{{closeSvg}}">&ndash;&gt;-->
<!--&lt;!&ndash;            <p class="textFile">123.jpgfsafasfash</p>&ndash;&gt;-->
<!--&lt;!&ndash;            <input id="input{{inputId}}" class="inputFill" type="file">&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--    </div>-->
<!--    <hr class="hrClass">-->
    <textarea id="textareaMain" class="textInput" placeholder="Содержимое письма">
{{{text}}}</textarea>
    <hr class="hrClass">
    {{{send}}}
</div>