<div class="messageOutPut">
    <div class="menuOutput">
        <img class="avatarOutput" src="{{avatar}}">
        <div class="OutputText">
            <div class="flexLine">
                {{{who}}}
                {{{login}}}
            </div>
            <hr class="hrClass">
            <div class="flexLine">
                {{{theme}}}
                {{{themeInput}}}
            </div>
        </div>
    </div>
    <hr class="hrClass">
    <textarea id="textareaMain" class="textInput" placeholder="Тело сообщения"></textarea>
    <hr class="hrClass">
    {{{send}}}
</div>