<div id="{{id}}" class="messageErrorBigBox">
    <div class="messageErrorBox{{size}} {{classNameDiv}}">
        {{{text}}}
        {{#if input}}
            {{{input}}}
        {{/if}}
        <div>
            {{#if primBtn}}
                {{{primBtn}}}
            {{/if}}
            {{{secBtn}}}
        </div>
    </div>
</div>