<div id="{{id}}" class="messageErrorBigBox {{classNameDiv}}">
    <div class="messageErrorBox">
        {{{text}}}
        <div>
            {{#if primBtn}}
                {{{primBtn}}}
            {{/if}}
            {{{secBtn}}}
        </div>
    </div>
</div>