<div id="{{fileId}}file" class="filesAdd">
    <img class="newFile" src="{{svgFile}}">
    <img id="close{{closeId}}" class="closeFile" src="{{closeSvg}}">
    <p class="textFile">{{text}}</p>
    <input id="input{{inputId}}" class="inputFill" type="file">
</div>