<div class="container">
    <form id="formSignUp" class="showbox showboxCenter showboxSelfCenter shadow">
        <img class="mb2" src="{{logo}}" alt="LogoSigin">
        {{{firstNameInput}}}
        {{{lastNameInput}}}
        {{{loginInput}}}
        {{{passwordInput}}}
        {{{passwordRepeatInput}}}
        <div class="invalidMsg">Не верное имя пользователя или пароль.</div>
        <div class="buttonGrid mt4">
            {{{primBtn}}}
            {{{secBtn}}}
        </div>
    </form>
</div>