<div class="container">
    <form id="formSignIn" class="showbox showboxCenter showboxSelfCenter shadow">
        <img class="mb2" src="{{logo}}" alt="LogoSigin">
        {{{loginInput}}}
        <p id="errorLogin" class="invalidMsg">Не верное имя пользователя или пароль</p>
        {{{passwordInput}}}
        <p id="errorPassword" class="invalidMsg">Не верное имя пользователя или пароль</p>
        <div class="buttonGrid mt4">
            {{{primBtn}}}
            {{{secBtn}}}
        </div>
    </form>
</div>