<div class="container">
    <form id="formSignIn" class="showbox showboxCenter showboxSelfCenter shadow">
        <img class="mb2" src="{{logo}}" alt="LogoSigin">
        {{{loginInput}}}
        {{{passwordInput}}}
        <div id="error" class="invalidMsg">Не верное имя пользователя или пароль</div>
        <div class="buttonGrid mt4">
            {{{primBtn}}}
            {{{secBtn}}}
        </div>
    </form>
</div>